.company_name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.logo{
  width: 50px;
  height: 50px;
}
.name{
  color: rgb(8, 145, 183) ;
  font-weight: bolder;
}
.nav ul {
  cursor: pointer;
  display: flex;
  list-style-type: none;
  gap: 50px;
  color: rgb(61, 61, 61);
  font-weight: 600;
   justify-content: center;
  align-items: center;
}
.nav ul li:hover{
  color:  rgb(24, 117, 223);
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 5px;
  padding-right: 30px;
  padding-left: 20px;
}